<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="home/home.css" />
    <title>SiVector</title>
  </head>
  <body>
    <div class="kt-social">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link kt-nav-link"
            href="mailto:connect@sivector.com"
            target="_blank"
            title="E-mail us"
          >
            <img src="../img/gmail.png" class="kt-social-icon" id="gmail" />
            | connect@sivector.com
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://twitter.com"
            target="_blank"
            title="Follow us on Twitter"
          >
            <img src="img/twitter.png" class="kt-social-icon" id="twitter" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://linkedin.com/"
            target="_blank"
            title="Connect to us on Linkedin"
          >
            <img src="img/linkedin.png" class="kt-social-icon" id="linkedin" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link kt-nav-link"
            href="tel:+918460525625"
            target="_blank"
            title="Call us"
          >
            <img src="../img/telephone.png" class="kt-social-icon" id="gmail" />
            | +918460525625
          </a>
        </li>
      </ul>
    </div>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="d-flex align-items-baseline">
          <a class="navbar-brand" href="/">
            <img src="img/logo.png" alt="SIvector logo" class="kt-nav-logo" />
          </a>
          <p class="fs-3 pe-2">|</p>
          <p class="navbar-brand text-wrap">Where your trust meets reliable partner</p>
        </div>
        <!-- <a class="navbar-brand" href="/">
          <img src="img/logo.png" alt="SIvector logo" class="kt-nav-logo" />
        </a> -->
        <div class="me-2">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutus">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/services/#card-1"
                      >DFT Architecture and Implementation
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="/services/#card-2">Scan Insertion </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="/services/#card-3"
                      >ATPG Pattern Generation for Different Fault Models
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="/services/#card-4">MBIST </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="/services/#card-5">IO Testing </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="/services/#card-6"
                      >Post Silicon Debug and ATE Support
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Training
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#"
                      >Basics of DFT Scan Insertion
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">ATPG </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#">Simulation </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">JTAG and iJTAG </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">IEEE 1500 </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">MBIST, LBIST </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#"
                      >Hands-on experience with ongoing Project
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Verilog </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#"
                      >Tcl, Perl and Shell scripting
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Linux </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Gvim </a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/career">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactus">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section>
      <p class="text-center fs-3 py-3 kt-services">
        Our Services
      </p>
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 mx-2">
        <div class="col">
          <div class="card h-100">
            <img src="../img/services/1.DFT Architecture and Implementation.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">DFT Architecture and Implementation</h5>
              <a href="services/#card-1" class="card-link">Lean More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/services/2.Scan Insertion.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Scan Insertion</h5>
              <a href="services/#card-2" class="card-link">Lean More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/services/3.ATPG Pattern Generation.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ATPG Pattern Generation for Different Fault Models
              </h5>
              <a href="services/#card-3" class="card-link">Lean More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/services/4.MBIST.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">MBIST</h5>
              <a href="services/#card-4" class="card-link">Lean More</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/services/5.IO Testing.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">IO Testing</h5>
              <a href="services/#card-5" class="card-link">Lean More</a>
            </div>
          </div>
        </div>
        <div class="col h-100">
          <div class="card">
            <img src="../img/services/6.Post Silicon.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Post Silicon Debug and ATE Support</h5>
              <a href="services/#card-6" class="card-link">Lean More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="aboutus">
      <p class="text-center mt-2 fs-3 py-3 kt-services">About Us</p>
      <div class="card my-3 mx-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Welcome to SiVector Technology</h5>
              <p class="card-text">
                SiVector Technology is an ASIC DFT engineering service company
                within the domain of VLSI semiconductor design, embark by highly
                passionate, experienced, and dedicated team of DFT engineers.
              </p>
              <p class="card-text">
                At SiVector Technology, we are committed to delivering
                exceptional quality and value to our clients worldwide. Our
                mission is to provide comprehensive and innovative solutions in
                the field of ASIC DFT, adhering to the highest industry
                standards. Our commitment to customer satisfaction, data
                privacy, excellence, cost efficient solution, our values are at
                the core of everything we do.
              </p>
              <p class="card-text">
                We believe in establishing strong partnerships with our clients,
                working collaboratively to understand their unique requirements
                and challenges. By leveraging our deep domain knowledge and
                technical expertise, we aim to provide tailored solutions that
                optimize the overall test strategy, reduce time-to-market, and
                enhance the quality of ASIC designs.
              </p>
              <p class="card-text">
                We believe in establishing strong partnerships with our clients,
                working collaboratively to understand their unique requirements
                and challenges. By leveraging our deep domain knowledge and
                technical expertise, we aim to provide tailored solutions that
                optimize the overall test strategy, reduce time-to-market, and
                enhance the quality of ASIC designs.
              </p>
              <p class="card-text">
                We believe in establishing strong partnerships with our clients,
                working collaboratively to understand their unique requirements
                and challenges. By leveraging our deep domain knowledge and
                technical expertise, we aim to provide tailored solutions that
                optimize the overall test strategy, reduce time-to-market, and
                enhance the quality of ASIC designs.
              </p>
              
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <img
              src="img/about-us.jpeg"
              class="img-fluid rounded-start"
              style="width: 100%"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="contactus">
      <p class="text-center mt-2 fs-3 kt-head-color py-3 kt-services">
        Contact Us
      </p>
      <div class="card mb-3 mx-auto col-8">
        <div class="row g-0 col">
          <div class="col me-3">
            <img
              src="img/getin-touch.webp"
              class="img-fluid rounded-start"
              style="height: 100%"
              alt="get in touch img"
            />
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">Get In Touch<span id="message" class="ms-3" style="font-size: .8rem;"></span></h5>
              <form >
                <div class="row mb-3">
                  <input
                    type="text"
                    class="form-control col me-3"
                    placeholder="Name"
                    name="name"
                    id="name"
                    required
                  />
                  <input
                    type="email"
                    class="form-control col"
                    placeholder="E-mail"
                    name="email"
                    id="email"
                    required
                  />
                </div>
                <div class="row mb-3">
                  <input
                    type="tel"
                    class="form-control col me-3"
                    placeholder="Contact No"
                    name="contact"
                    id="contact"
                    required
                  />
                  <input
                    type="text"
                    class="form-control col"
                    placeholder="Subject"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <textarea
                  type="text"
                  id="textarea"
                  rows="5"
                  class="row mb-3"
                  style="width: 100%"
                  placeholder="Your Inquery"
                  name="text"
                  required
                ></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <footer class="conatiner-fluid py-4 border border-danger" style="background-color: #3e67b6; color: white;">
      <h3 class="text-center">Contact Info</h3>
      </hr>
      <div class="row">
        <div class="col ms-2">
          <div class="d-flex flex-column ps-4 fs-3">Address</div>
          <div class="d-flex">
            <img src="img/placeholder.png" style="width: 2rem; height: 2rem;">
            <p>502, ABC building 
            </br>Test road, on some area
            </br>Famouse city, Gujarat
            </br>xyz society, Near famouse landmark
            </br>INDIA
          </p>
          </div>
        </div>
        <div class="col ms-2">
          <div class="d-flex flex-column ps-4 fs-3">Phone</div>
          <div class="d-flex">
            <a href="tel:+918460525625" style="text-decoration: none; color: white;">
              <img src="../img/telephone.png" style="width: 2rem;">
              +918460525625</a>
          </div>
        </div>
        <div class="col ms-2">
          <div class="d-flex flex-column ps-4 fs-3">Email</div>
          <div class="d-flex">
            <a href="emailto:test@gmail.com" style="text-decoration: none; color: white;">
              <img src="img/gmail.png" style="width: 2rem;">
              connect@sivector.com</a>
          </div>
        </div>
      </div>
    </footer> -->

    <footer class="py-4 d-flex flex-column align-items-center" style="background-color: #3e67b6; color: white;">
      <h3 class="text-center">Contact Info</h3>
      <div class="d-flex flex-column" style="width: fit-content;">
        <div class="">
          <div class="d-flex flex-column fs-3">Phone</div>
          <div class="d-flex">
            <a href="tel:+918460525625" style="text-decoration: none; color: white;">
              <img src="../img/telephone.png" style="width: 2rem;">
              +918460525625</a>
          </div>
        </div>
        <div class="">
          <div class="d-flex flex-column fs-3">Email</div>
          <div class="d-flex">
            <a href="mailto:connect@sivector.com" style="text-decoration: none; color: white;">
              <img src="img/gmail.png" style="width: 2rem;">
              connect@sivector.com
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="home/home.js"></script>
  </body>
</html>
