<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./training.css" />
    <title>SiVector | Services</title>
  </head>
  <body>
    <div class="kt-social">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link kt-nav-link"
            href="mailto:test@gmail.com"
            target="_blank"
            title="E-mail us"
          >
            <img src="../img/gmail.png" class="kt-social-icon" id="gmail" />
            | connect@sivector.com
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://twitter.com"
            target="_blank"
            title="Follow us on Twitter"
          >
            <img src="../img/twitter.png" class="kt-social-icon" id="twitter" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://linkedin.com/"
            target="_blank"
            title="Connect to us on Linkedin"
          >
            <img src="../img/linkedin.png" class="kt-social-icon" id="linkedin" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link kt-nav-link"
            href="tel:+918460525625"
            target="_blank"
            title="Call us"
          >
            <img src="../img/phone-call.png" class="kt-social-icon" id="gmail" />
            | +918460525625
          </a>
        </li>
      </ul>
    </div>

    <nav class="navbar navbar-expand-lg bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../img/logo.png" alt="SIvector logo" class="kt-nav-logo" />
        </a>
        <div class="me-2">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#aboutus">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#card-1"
                      >DFT Architecture and Implementation
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#card-2">Scan Insertion </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#card-3"
                      >ATPG Pattern Generation for Different Fault Models
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#card-4">MBIST </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#card-5">IO Testing </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#card-6"
                      >Post Silicon Debug and ATE Support
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Training
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#"
                      >Basics of DFT Scan Insertion
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">ATPG </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#">Simulation </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">JTAG and iJTAG </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">IEEE 1500 </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">MBIST, LBIST </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#"
                      >Hands-on experience with ongoing Project
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Verilog </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#"
                      >Tcl, Perl and Shell scripting
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Linux </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Gvim </a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contactus">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>


    <footer class="conatiner-fluid pt-2" style="background-color: #4c0bce; color: white;">
      <h3 class="text-center">Contact Info</h3>
      </hr>
      <div class="row">
        <div class="col ms-2">
          <div class="d-flex flex-column ps-4 fs-3">Address</div>
          <div class="d-flex">
            <img src="../img/placeholder.png" style="width: 2rem; height: 2rem;">
            <p>502, ABC building 
            </br>Test road, on some area
            </br>Famouse city, Gujarat
            </br>xyz society, Near famouse landmark
            </br>INDIA
          </p>
          </div>
        </div>
        <div class="col ms-2">
          <div class="d-flex flex-column ps-4 fs-3">Phone</div>
          <div class="d-flex">
            <a href="tel:+918460525625" style="text-decoration: none; color: white;">
              <img src="../img/phone-call.png" style="width: 2rem;">
              +918460525625</a>
          </div>
        </div>
        <div class="col ms-2">
          <div class="d-flex flex-column ps-4 fs-3">Email</div>
          <div class="d-flex">
            <a href="emailto:test@gmail.com" style="text-decoration: none; color: white;">
              <img src="../img/gmail.png" style="width: 2rem;">
              connect@sivector.com</a>
          </div>
        </div>
      </div>
    </footer>

    <input type="color" draggable="true" class="float-start" id="color">

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="./training.js"></script>
  </body>
</html>
