<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./services.css" />
    <title>SiVector | Services</title>
  </head>
  <body>
    <div class="kt-social">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link kt-nav-link"
            href="mailto:connect@sivector.com"
            target="_blank"
            title="E-mail us"
          >
            <img src="../img/gmail.png" class="kt-social-icon" id="gmail" />
            | connect@sivector.com
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://twitter.com"
            target="_blank"
            title="Follow us on Twitter"
          >
            <img src="../img/twitter.png" class="kt-social-icon" id="twitter" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://linkedin.com/"
            target="_blank"
            title="Connect to us on Linkedin"
          >
            <img src="../img/linkedin.png" class="kt-social-icon" id="linkedin" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link kt-nav-link"
            href="tel:+918460525625"
            target="_blank"
            title="Call us"
          >
            <img src="../img/telephone.png" class="kt-social-icon" id="gmail" />
            | +918460525625
          </a>
        </li>
      </ul>
    </div>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="d-flex align-items-baseline">
          <a class="navbar-brand" href="/">
            <img src="../img/logo.png" alt="SIvector logo" class="kt-nav-logo" />
          </a>
          <p class="fs-3 pe-2">|</p>
          <p class="navbar-brand text-wrap">Where your trust meets reliable partner</p>
        </div>
        <!-- <a class="navbar-brand" href="/">
          <img src="img/logo.png" alt="SIvector logo" class="kt-nav-logo" />
        </a> -->
        <div class="me-2">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#aboutus">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/services/#card-1"
                      >DFT Architecture and Implementation
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="/services/#card-2">Scan Insertion </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="/services/#card-3"
                      >ATPG Pattern Generation for Different Fault Models
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="/services/#card-4">MBIST </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="/services/#card-5">IO Testing </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="/services/#card-6"
                      >Post Silicon Debug and ATE Support
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Training
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#"
                      >Basics of DFT Scan Insertion
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">ATPG </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#">Simulation </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">JTAG and iJTAG </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">IEEE 1500 </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">MBIST, LBIST </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#"
                      >Hands-on experience with ongoing Project
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Verilog </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item text-wrap" href="#"
                      >Tcl, Perl and Shell scripting
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Linux </a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Gvim </a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/career">Careers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contactus">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section>
      <p class="text-center mt-2 fs-3 py-3 kt-services">
        Our Services
      </p>
      <div class="card mb-3 row col-10 mx-auto" id="card-1" >
        <div class="row g-0">
          <div class="col me-3">
            <img
              src="../img/services/1.DFT Architecture and Implementation.jpg"
              class="img-fluid rounded-start"
              style="height: 100%"
              alt="get in touch img"
            />
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">DFT Architecture and Implementation
              </h5>
              <ul>
                <li>Planning of Flow and Methodology Development</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 row col-10 mx-auto" id="card-2">
        <div class="row g-0">
          <div class="col me-3">
            <img
              src="../img/services/2.Scan Insertion.jpg"
              class="img-fluid rounded-start"
              style="height: 100%"
              alt="get in touch img"
            />
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">Scan Insertion
              </h5>
              <ul>
                <li>Hierarchical Scan, CODEC, Test Point insertion, Core Wrapping (Intest-Extest), 
                  OCC insertion & Configuration, DRC fixes, Defining & Configuring various test 
                  modes
                </li>
                <li>
                  Implementation of DFT for low pin count design
                </li>
                <li>Implementation of hardware for power-aware and 
                  multiple power domain design
                </li>
                <li>Implementation of support for miscellaneous tests and diagnosis support
                </li>
                <li>LBIST insertion and verification</li>
                <li>Logic equivalent checks</li>
                <li>Implementation of Security and functional safety features</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 row col-10 mx-auto" id="card-3">
        <div class="row g-0">
          <div class="col me-3">
            <img
              src="../img/services/3.ATPG Pattern Generation.jpg"
              class="img-fluid rounded-start"
              style="height: 100%"
              alt="get in touch img"
            />
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">
                ATPG Pattern Generation for Different Fault Models                
              </h5>
              <ul>
                <li>Generation of high-quality test and debug patterns for Stuck-at, 
                  Transition, Small delay defect, Cell aware Fault Model for block 
                  and top level
                </li>
                <li>
                  Coverage analysis and improvement by reviewing test flow and design
                </li>
                <li>Improving test quality by TPI, TAT/TDV analysis and quality 
                  review for overall test program
                </li>
                <li>Pattern retargeting using IJTAG
                </li>
                <li>Simulation of test vectors across the corners</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 row col-10 mx-auto" id="card-4">
        <div class="row g-0">
          <div class="col me-3">
            <img
              src="../img/services/4.MBIST.jpg"
              class="img-fluid rounded-start"
              style="height: 100%"
              alt="get in touch img"
            />
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">
                MBIST               
              </h5>
              <ul>
                <li>MBIST insertion and verification
                </li>
                <li>
                  Implementing hardware for repair and non-repair test
                </li>
                <li>Timing and no-timing simulation
                </li>
                <li>Production pattern generation
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 row col-10 mx-auto" id="card-5">
        <div class="row g-0">
          <div class="col me-3">
            <img
              src="../img/services/5.IO Testing.jpg"
              class="img-fluid rounded-start"
              style="height: 100%"
              alt="get in touch img"
            />
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">
                IO Testing              
              </h5>
              <ul>
                <li>Implementation of Boundary Scan at SOC Level (1149.1)
                </li>
                <li>
                  Loopback tests
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 row col-10 mx-auto" id="card-6">
        <div class="row g-0">
          <div class="col me-3">
            <img
              src="../img/services/6.Post Silicon.jpg"
              class="img-fluid rounded-start"
              style="height: 100%"
              alt="get in touch img"
            />
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">
                Post Silicon Debug and ATE Support              
              </h5>
              <ul>
                <li>Test Program review
                </li>
                <li>
                  Post Silicon Support and ATE Bring up
                </li>
                <li>Test failure diagnosis and resolution
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>

    <footer class="py-4 d-flex flex-column align-items-center" style="background-color: #3e67b6; color: white;">
      <h3 class="text-center">Contact Info</h3>
      <div class="d-flex flex-column" style="width: fit-content;">
        <div class="">
          <div class="d-flex flex-column fs-3">Phone</div>
          <div class="d-flex">
            <a href="tel:+918460525625" style="text-decoration: none; color: white;">
              <img src="../img/telephone.png" style="width: 2rem;">
              +918460525625</a>
          </div>
        </div>
        <div class="">
          <div class="d-flex flex-column fs-3">Email</div>
          <div class="d-flex">
            <a href="mailto:connect@sivector.com" style="text-decoration: none; color: white;">
              <img src="../img/gmail.png" style="width: 2rem;">
              connect@sivector.com
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </body>
</html>
